// html{
//     width: 100%;
//     border: 4px solid red;
//     height: 100%;
// }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100vh;
    // height: 100%;
    place-items: center;
    // height: 100%;
    margin: 0;
    padding: 0;
    place-items: center;
}

body {
    display: grid;
    overflow: auto;
    // border: 5px solid red;
}

#wt-sky-root {
    display: none !important;
}



.key {
    width: 40px;
    height: 40px;
    margin: 3px;
    text-align: center;
    color: #ffffff;
    background: #1cb0a0;
    border-radius: 3px;
    font-size: 86%;
    font-weight: 500;
    border: 2px solid #ababab;
    cursor: pointer;
    transition: border 0.2s, border-radius 0.2s, background-color 0.2s;

    &:hover {
        border: 2px solid #ffbf49a8;
        transition: border 0.05s;
    }

    @media screen and (max-width:768px) {
        & {
            width: clamp(19px, -0.5226px + 5.2764vi, 40px);
        }

    }

    @media screen and (max-width:340px) {
        & {
            width: auto;
            min-width: 14px;
        }
    }
}

.backspace {
    flex: 1 0 100px;

    @media screen and (max-width:768px) {
        & {
            flex-basis: auto;
        }
    }
}

.tab,
.delete,
.capslock,
.enter,
.shiftleft,
.shiftright,
.space {
    flex: 1 0;
}

.space {
    flex: 6 1; //344px;

    @media screen and (max-width:768px) {
        & {
            flex: 2 1;
        }
    }

}

.controlleft,
.controlright {
    flex: 0.6 1;
}

.backspace,
.tab,
.delete,
.capslock,
.enter,
.shiftleft,
.shiftright,
.space,
.controlleft,
.controlright .altleft,
.altright {
    font-size: 14px;
    font-weight: 700;
}

@media screen and (max-width:768px) {
    :root {
        --font-size-spec-btn: 11px;
    }

    .backspace,
    .tab,
    .delete,
    .capslock,
    .enter,
    .shiftleft,
    .shiftright,
    .space,
    .altleft,
    .altright {
        font-size: 0;
        position: relative;

        &::before {
            font-size: var(--font-size-spec-btn);
        }

        &::before {
            // font-size: 11px;
            /* color: white; */
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 11;
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .controlleft,
    .controlright {
        font-size: var(--font-size-spec-btn);
    }

    .capslock::before {
        content: "CL";
    }

    .backspace::before {
        content: "BS";
    }

    .tab::before {
        content: "TB";
    }

    .delete::before {
        content: "DL";
    }

    .enter::before {
        content: "\21B5";
        font-size: 18px;
    }

    .shiftleft::before {
        content: "ST";
    }

    .shiftright::before {
        content: "ST";
    }

    .space::before {
        content: "";
    }

    .ctrlleft::before {
        content: "CTR";
    }

    .ctrlright::before {
        content: "CTR";
    }

    .altleft::before {
        content: "ALT";
    }

    .altright::before {
        content: "ALT";
    }

    .altleft,
    .altright {
        flex: 1 1;
    }
}


.active {
    background: #fd4855;
    border-color: #ffffff;
    border-radius: 7px;

    &:hover {
        border-color: #ffffff;
    }
}